textarea {
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  height: 160px;
}

#margin {
  margin-left: 12px;
  margin-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#text {
  width: 500px;
  overflow: hidden;
  background-color: #fff;
  color: #222;
  font-weight: normal;
  font-size: 24px;
  resize: none;
  line-height: 40px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 45px;
  padding-bottom: 34px;
  background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
    url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat: repeat-y, repeat;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 14px #000;
  box-shadow: 0px 2px 14px #000;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#buttonForText {
  display: block;
  cursor: pointer;
  margin-top: 20px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-shadow: 0px -1px 0px #000000;
  border-radius: 8px;
  border-top: 1px solid #fff;
  box-shadow: 0px 2px 14px #000;
  background-color: #62add6;
  background-image: url(https://static.tumblr.com/maopbtg/ZHLmgtok7/button.png);
  background-repeat: repeat-x;
}
#button:active {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#button:focus {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.canvas-add-text {
  padding: 0 2em;
}
#paper {
  display: block;
  width: 700px;
  color: #fff;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.canvas-text-area-fonts {
  align-content: center;
  display: flex;
  background-color: #59aac9;
  width: 100%;
  overflow: scroll;
}

.canvas-text-area-fonts-options {
  display: block;
}
.canvas-text-area-fonts-selection {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.canvas-text-area-font-each {
  background-color: #cce9f4;
  width: 2.7em;
  height: 2em;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 2em;
  padding: 0.5em;
}
