body {
  margin: 0;
  padding: 0;
  font-family: Impact;
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/EDWSSiXdeijhmmhtn/cartoon-comic-style-cityscape-background-panorama-non-looped-establishing-shot_ndcajsmoe__F0000.png');
}

a {
  text-decoration-line: none;
  color: black;
}

/* AuthForm */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
.auth-form-heading {
  margin: auto;
  padding-top: 1em;
  color: #325e78;
  font-size: 3em;
  font-family: 'Luckiest Guy';
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 35em;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
#formFooter a {
  font-family: 'Poppins', sans-serif;
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: '';
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

#submit-form-btn {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#submit-form-btn:hover {
  background-color: #39ace7;
}

#submit-form-btn:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type='text'],
input[type='password'] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type='text']:focus,
input[type='password']:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type='text']:placeholder,
input[type='password']:placeholder {
  color: #cccccc;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

canvas {
  width: 90vw;
  height: 30vh;
  border: 5px solid black;
}

.home-link {
  color: white;
  font-size: 1.7em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: #ddd; */
  background-image: url('https://cdn-images-1.medium.com/max/2000/0*RsslpZpeNiQE5DG8.jpg');
  padding: 1%;
  text-shadow: 2px 2px #ff0000;
}

.navbar-links-container {
  display: flex;
  justify-content: space-around;
  width: 25em;
}

.navbar-link {
  color: white;
  font-size: 1.7em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  cursor: pointer;
  display: flex;
}

.root-canvas-info {
  border: 3px solid grey;
  /* position: relative; */
  margin-top: 50vh;
}

.btn-canvas {
  border: none;
  outline: none;
  /* margin-right: 0.7em; */
  background-color: #f1f1f1;
  /* background-color: #59aac9; */
  cursor: pointer;
  font-size: 0.7em;
  border-style: dotted;
  border-width: thin;
}
.active-btn,
.btn-canvas:hover {
  background-color: #666;
  color: white;
}

.active-cat,
.selection-category:hover {
  background-color: #9accdf;
  color: white;
}

.root-canvas-selection-bar {
  overflow: scroll;
}

.root-canvas-selection-bar-component-category {
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.selection-bar-images-container {
  background: white;
}

.root-canvas-selection-bar-component-images {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.root-canvas-selection-bar-category,
.root-canvas-selection-bar-images-options {
  cursor: pointer;
  padding: 1em;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
}

.profile-container > * {
  /* border: 1px solid black; */
  margin: 1em;
  padding: 1em;
}

.profile-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 3em;
  width: 70%;
  border: 1px dashed #ddd;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
}
.profile-pic {
  border-radius: 4em;
  box-shadow: 0 0 5em grey;
  width: 300px;
}

.profile-desc {
  font-family: 'Bungee Inline';
  color: #325e78;
  margin: auto;
}

.profile-filter-bar {
  display: flex;
  width: 20%;
  margin: 2em 12em;
}

.profile-filter-bar > * {
  margin: auto;
}

.button__holder {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  /* background-color: #1a1a1a; */
}
.button__holder:after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background: rgba(26, 26, 26, 0.7); */
}
.button__holder h2 {
  margin-right: 1em;
  text-align: center;
  color: #8a3b58;
}

.plus {
  position: relative;
  z-index: 1;
  width: 10em;
  height: 4em;
  color: white;
  background: #59aac9;
  border-radius: 2em;
  border: none;
  font-family: 'Luckiest Guy';
  font-size: 1em;
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1),
    -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1),
    transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
  transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1),
    transform 200ms cubic-bezier(0.2, 0, 0.7, 1),
    -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
}
.plus:after {
  content: '';
  font-size: 2.5em;
  line-height: 1.1em;
}
.plus:hover {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: 0 0 1px 15px rgba(237, 28, 91, 0.4),
    0 0 1px 30px rgba(237, 28, 91, 0.1), 0 0 1px 45px rgba(237, 28, 91, 0.1);
}

.profile-stories-lst {
  display: flex;
  /* justify-content: center; */
  flex-flow: row wrap;
  padding-left: 3em;
}

.storyThumbnail {
  margin: 2em;
  width: 15em;
  height: 15em;
  background-color: beige;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin: 1em; */
}

.home-main-img {
  width: 100%;
  z-index: -1;
}

.root-canvas-info {
  border: 3px solid grey;
  margin-top: 0vh;
}

.root-canvas-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.root-canvas-selection-bar-component-category,
.root-canvas-selection-bar-component-images {
  display: flex;
  flex-direction: row;
}

/* TODO CanvasTextArea */
/* --------------------- */

textarea {
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  height: 160px;
}

#margin {
  margin-left: 12px;
  margin-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#text {
  width: 500px;
  overflow: hidden;
  background-color: #fff;
  color: #222;
  font-weight: normal;
  font-size: 24px;
  resize: none;
  line-height: 40px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 45px;
  padding-bottom: 34px;
  background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
    url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat: repeat-y, repeat;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 14px #000;
  box-shadow: 0px 2px 14px #000;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#buttonForText {
  display: block;
  cursor: pointer;
  margin-top: 20px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-shadow: 0px -1px 0px #000000;
  border-radius: 8px;
  border-top: 1px solid #fff;
  box-shadow: 0px 2px 14px #000;
  background-color: #62add6;
  background-image: url(https://static.tumblr.com/maopbtg/ZHLmgtok7/button.png);
  background-repeat: repeat-x;
}
#button:active {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#button:focus {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.canvas-add-text {
  padding: 0 2em;
}
#paper {
  display: block;
  width: 700px;
  color: #fff;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.canvas-text-area-fonts {
  align-content: center;
  display: flex;
  background-color: #59aac9;
  width: 100%;
  overflow: scroll;
}

.canvas-text-area-fonts-options {
  display: block;
}
.canvas-text-area-fonts-selection {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.canvas-text-area-font-each {
  background-color: #cce9f4;
  width: 2.7em;
  height: 2em;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 2em;
  padding: 0.5em;
}

/* --------------------- */
/* TODO CanvasTextArea */
.template-thumbnail {
  display: flex;
  width: 20em;
  height: 10em;
  background: none;
  border: 1px solid black;
}

/* FIX THIS*/
.create-story-container {
  border: 1px solid black;
}

.create-story-container-img {
  width: 20em;
  height: 20em;
}

.grid {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  padding: 3em;
  width: 80%;
}

.grid-header {
  margin: auto;
  font-size: 3em;
  font-family: 'Luckiest Guy';
  color: #325e78;
}

.grid-thumbnails-container {
  display: flex;
  flex-flow: row wrap;
}

.grid-thumbnail-title {
  font-family: 'Luckiest Guy';
  font-weight: bold;
  color: #325e78;
  font-size: 1.7em;
  padding: 0.5em 0;
}
.grid-thumbnail-description {
  font-family: 'Courier, monospace';
  padding-bottom: 0.5em;
}

.grid-thumbnail {
  display: flex;
  position: relative;
  height: 20em;
  margin: 1em;
  width: 20em;
  border-radius: 75px;
  transition: box-shadow 0.3s;
  border: 1px solid grey;
}

.grid-thumbnail-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 75px;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 75px;
}

.grid-thumbnail:hover {
  box-shadow: 0 0 50px rgba(33, 33, 33, 1);
}

.grid-thumbnail:hover .grid-thumbnail-image {
  opacity: 0.3;
}

.grid-thumbnail:hover .middle {
  opacity: 1;
}

.grid-thumbnail-btn {
  border-radius: 4px;
  font-family: 'Luckiest Guy';
  background-color: #59aac9;
  opacity: 0.8;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1.5em;
  padding: 0.3em;
  width: 10em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.grid-thumbnail-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.grid-thumbnail-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.grid-thumbnail-btn:hover span {
  padding-right: 25px;
}

.grid-thumbnail-btn:hover span:after {
  opacity: 1;
  right: 0;
}

/* SelectTemplate.js
//////////////////////*/
.template-for-story {
  display: flex;
  padding: 2em;
}

.backgrounds-for-canvas {
  display: flex;
  overflow: scroll;
  padding: 2em;
}
.template-selected,
.background-selected {
  padding: 1em;
  margin-top: 1em;
  transition: 0.5s ease;
}

.active,
.template-selected:hover {
  box-shadow: 0 0 30px grey;
  -webkit-transform: scale(1.7);
  -ms-transform: scale(1.7);
  transform: scale(1.7);
}
.activeB,
.background-selected:hover {
  box-shadow: 0 0 30px black;
  -webkit-transform: scale(1.7);
  -ms-transform: scale(1.7);
  transform: scale(1.7);
}

.template-select-and-next {
  display: flex;
  padding: 0 2em;
}

/*///////// SINGLE STORY////////////*/
.single-story-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em;
  width: 90%;
}

.single-story-chapters {
  display: flex;
  flex-flow: column wrap;
}

.single-story-thumbnail {
  border: 2px dashed white;
  display: flex;
  margin: 2em;
  /* width: 50em; */
  height: 30em;
}

.single-story-thumbnail-info {
  margin: auto;
  padding-left: 2em;
}

.single-story-thumbnail-img {
  padding: 2em;
  height: 80%;
}

.center-item-heading {
  margin: auto;
  padding-top: 3em;
  color: #325e78;
  font-size: 3em;
  font-family: 'Luckiest Guy';
}
.center-item {
  margin: auto;
  padding-top: 1.5em;
  font-size: 2em;
  font-family: 'Bungee Inline';
}

.single-story-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3em;
  width: 100%;
}

.single-story-info-img {
  /* width: 30em; */
  height: 20em;
  align-items: flex-start;
  padding: 0 8em;
}

.single-story-info-title {
  font-family: 'Luckiest Guy';
  color: #325e78;
  font-size: 2em;
  padding: 1.5em;
  border: 1px dashed #ddd;
  box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd, 0 0 0 10px #fff, 0 0 2px 10px #eee;
}

.single-story-btn {
  border-radius: 4px;
  font-family: 'Luckiest Guy';
  background-color: #59aac9;
  opacity: 0.8;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 0.7em;
  padding: 0.5em;
  width: 15em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.single-story-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.single-story-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.single-story-btn:hover span {
  padding-right: 25px;
}
.single-story-btn:hover span:after {
  opacity: 1;
  right: 0;
}
/* SINGLE STORY ENDS --------*/

/* ------------------button ----- */
.home-button-container {
  position: absolute;
  top: 40em;
}
.button {
  height: 80px;
  width: 180px;
  cursor: pointer;
  margin: 10px auto;
}
.button .outer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  box-shadow: inset rgba(0, 0, 0, 0.85) 0px 1px 5px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.85) 0px 1px 5px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.85) 0px 1px 5px;
  -webkit-transform: perspective(500px) rotateX(35deg);
  -moz-transform: perspective(500px) rotateX(35deg);
}
.button .outer .height {
  position: relative;
  height: 100%;
  margin-top: -15px;
  padding-bottom: 15px;
  background: #39a02d;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.85) 0px 1px 1px,
    inset rgba(0, 0, 0, 0.35) 0px -2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.85) 0px 1px 1px,
    inset rgba(0, 0, 0, 0.35) 0px -2px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.85) 0px 1px 1px,
    inset rgba(0, 0, 0, 0.35) 0px -2px 8px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}
.button:hover .outer .height {
  margin-top: -10px;
  padding-bottom: 10px;
  background: #3aaf2d;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px,
    inset rgba(0, 0, 0, 0.35) 0px -2px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px,
    inset rgba(0, 0, 0, 0.35) 0px -2px 6px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px,
    inset rgba(0, 0, 0, 0.35) 0px -2px 6px;
}
.button:active .outer .height {
  margin-top: 0px;
  padding-bottom: 0px;
}
.button .outer .height .inner {
  line-height: 2.8em;
  font-size: 30px;
  letter-spacing: 0.05em;
  position: relative;
  height: 100%;
  text-align: center;
  text-shadow: #8aff7b 0px 0px 1px;
  background: #44d135;
  background: -moz-linear-gradient(top, #80ec75 0%, #43d034 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #80ec75),
    color-stop(100%, #43d034)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #80ec75 0%,
    #43d034 100%
  ); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(top, #80ec75 0%, #43d034 100%); /* W3C */
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: inset rgba(255, 255, 255, 0.85) 0px 0px 1px;
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.85) 0px 0px 1px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.85) 0px 0px 1px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}
.button:hover .outer .height .inner {
  text-shadow: #99f48d 0px 0px 1px;
  background: #43d034; /* Old browsers */
  background: -moz-linear-gradient(top, #43d034 0%, #67e45c 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #43d034),
    color-stop(100%, #67e45c)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #43d034 0%,
    #67e45c 100%
  ); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(top, #43d034 0%, #67e45c 100%); /* W3C */
}
.button:active .outer .height .inner {
  text-shadow: #319926 0px 1px 0px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  box-shadow: inset rgba(0, 0, 0, 0.9) 0px 0px 8px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.9) 0px 0px 8px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.9) 0px 0px 8px;
  background: #1d7d12; /* Old browsers */
  background: -moz-linear-gradient(top, #1d7d12 0%, #4fd342 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #1d7d12),
    color-stop(100%, #4fd342)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #1d7d12 0%,
    #4fd342 100%
  ); /* Chrome10+,Safari5.1+ */
  background: linear-gradient(top, #1d7d12 0%, #4fd342 100%); /* W3C */
}
.user-profile-edit {
  width: 100%;
  text-align: center;
}

.user-profile-edit-input {
    width: 80%;
    height: 2em;
    text-align: center;
    font-size: 1em;
}

/* MODAL ****************/

/* The Modal (background) */
.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(55, 227, 243, 0.3);
}

.modal-image {
  width: 100%;
  border: 1px dashed white;
}
