body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

canvas {
  width: 90vw;
  height: 30vh;
  border: 5px solid black;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #ddd;
  padding: 1%;
}

.navbar-links-container {
  display: flex;
  justify-content: space-around;
  width: 10em;
}

.navbar-link {
  display: flex;
}

.root-canvas-info {
  border: 3px solid grey;
  /* position: relative; */
  margin-top: 50vh;
}

.root-canvas-selection-bar-component-category {
  display: flex;
  flex-direction: row;
}

.root-canvas-selection-bar-component-images {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.root-canvas-selection-bar-category,
.root-canvas-selection-bar-images-options {
  padding: 1em;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container > * {
  border: 1px solid black;
  margin: 1em;
  padding: 1em;
  width: 70%;
}

.profile-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.profile-filter-bar {
  display: flex;
  justify-content: center;
  width: 20%;
}

.profile-filter-bar > * {
  margin: auto;
}

.profile-stories-lst {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.storyThumbnail {
  margin: 2em;
  width: 15em;
  height: 15em;
  background-color: beige;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.home-container > * {
  margin: 1em;
}
.root-canvas-info {
  border: 3px solid grey;
  margin-top: 1vh;
  background: url('https://firebasestorage.googleapis.com/v0/b/exquisite-comics.appspot.com/o/templates%2FBackground%2F11425.jpg?alt=media&token=a00f2a5a-f517-49bb-a932-9ca0100f04c1');
  background-size: cover;
}

.root-canvas-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.root-canvas-selection-bar-component-category,
.root-canvas-selection-bar-component-images {
  display: flex;
  flex-direction: row;
}

/* TODO CanvasTextArea */
/* --------------------- */

/* * {
  outline: none;
  border: none;
  margin: 0px;
  padding: 0px;
  font-family: Courier, monospace;
} */

textarea {
  overflow: hidden;
  word-wrap: break-word;
  resize: none;
  height: 160px;
}

#margin {
  margin-left: 12px;
  margin-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#text {
  width: 500px;
  overflow: hidden;
  background-color: #fff;
  color: #222;
  /* font-family: Courier, monospace; */
  font-weight: normal;
  font-size: 24px;
  resize: none;
  line-height: 40px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 45px;
  padding-bottom: 34px;
  background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
    url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat: repeat-y, repeat;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 14px #000;
  box-shadow: 0px 2px 14px #000;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

#buttonForText {
  display: block;
  cursor: pointer;
  margin-top: 20px;
  height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  text-shadow: 0px -1px 0px #000000;
  border-radius: 8px;
  border-top: 1px solid #fff;
  box-shadow: 0px 2px 14px #000;
  background-color: #62add6;
  background-image: url(https://static.tumblr.com/maopbtg/ZHLmgtok7/button.png);
  background-repeat: repeat-x;
}
#button:active {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#button:focus {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
#wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
#paper {
  display: block;
  width: 700px;
  color: #fff;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.canvas-text-area-fonts {
  align-content: center;
  display: flex;
  background-color: #ddd;
  width: 100%;
  overflow: scroll;
}

.canvas-text-area-fonts-options {
  display: block;
}
.canvas-text-area-fonts-selection {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.canvas-text-area-font-each {
  background-color: whitesmoke;
  width: 3em;
  height: 3em;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 2em;
  padding: 0.5em;
}

/* --------------------- */
/* TODO CanvasTextArea */
.template-thumbnail {
  display: flex;
  width: 20em;
  height: 10em;
  background: none;
  border: 1px solid black;
}

/* FIX THIS*/
.create-story-container {
  border: 1px solid black;
}

.create-story-container-img {
  width: 20em;
  height: 20em;
}

.grid {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  padding: 3em;
  border: 1px solid black;
  width: 80%;
}

.grid-header {
  margin: auto;
}

.grid-thumbnails-container {
  display: flex;
  flex-flow: row wrap;
}

.grid-thumbnail {
  display: flex;
  position: relative;
  width: 22em;
  height: 20em;
  margin: 1em;
}

.grid-thumbnail-title {
  display: none;
  position: absolute;
  z-index: 1;
  top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
  background-color: whitesmoke;
  width: 90%;
  border-radius: 3%;
  font-size: 2em;
}
.grid-thumbnail-description {
  display: none;
  padding: 1em;
  margin-left: 2em;
  margin-right: 2em;
  position: absolute;
  z-index: 1;
  bottom: 2.5em;
  background-color: whitesmoke;
  text-align: center;
  width: 80%;
  border-radius: 5%;
}
.grid-thumbnail-btn {
  display: none;
  text-align: center;
  z-index: 1;
  position: absolute;
  bottom: 0em;
  background-color: green;
  color: whitesmoke;
  margin: auto;
  width: 100%;
  height: 10%;
}

.grid-thumbnail:hover div {
  display: initial;
}

.grid-thumbnail-image {
  position: relative;
  width: 22em;
}

.single-story-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em;
  width: 90%;
  border: 1px solid black
}

.single-story-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50em
}

/* .single-story-info > * {
  padding: 4em;
} */

.single-story-info-img {
  width: 30em;
  height: 20em;
  align-items: flex-start
}

.single-story-chapters {
  display: flex;
  flex-flow: column wrap
}

.single-story-thumbnail{
  margin: 2em;
  width: 50em;
  height: 15em;
  background-color: beige;
}

.center-item {
  margin: auto;
  padding-top: 2em;
}

